.container{
    background-color: blanchedalmond;
    width: 80%;
    max-width: 1400px;
    margin: 50px auto;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    gap: 40px;
    background-color: #d8f2f9;
    border: 2px solid white;
    box-sizing: border-box;
}

.img{
    width: 50%;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px ;
}
.form{
    display: flex;
    width: 50%;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1{
    font-size: 1.5rem;
    font: bold;
    margin-top: 0px;
    margin-bottom: 8px;
    width: 70%;
}
.form p{
    font-size: 15px;
    width: 70%;
}
.name{
    width: 70%;
    display: flex;
    gap: 20px;
    
}
.name input{
    width: 100%;
    padding: 10px;
    border: 2px solid #f6f4f5;
    border-radius: 5px;
    border: 1.5px solid #706eff;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.name input:focus{
    outline: 1.5px solid #120ee9;
    box-shadow: 0 0 0 3px #aac8fe;
}

.form button{
    width: 100%;
    padding: 10px;
    border: 2px solid #f6f4f5;
    border-radius: 5px;
    background-color: #120ee9;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
}    
.form button:hover{
    background-color: #706eff;
}
 .form button:focus{
    outline: none;
}
.form button:active{
    background-color: #120ee9;
}
.check_name{
    display: flex;
    width: 70%;
    align-items: flex-start;

}
.check_name input{
    width: 15px;
    height: 15px;
    border: 2px solid #f6f4f5;
    border-radius: 2px;
    cursor: pointer;
    margin: 1px;
    margin-right: 10px;
}
.check_name p{
    font-size: 15px;
    margin: 0;
}
.option{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.option p{
    width: 120px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.option div{
    width: 25%;
    height: 0%;
    border: 1.5px solid grey;
    border-radius: 5px;
}
.icon{
    width: 70%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.google,.apple{
    width: 50%;
}
.google a,.apple a{
    padding: 10px 0px;
    border: 1.5px solid grey;
    justify-content: center;
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    font-size: 17px;
    color: black;
    text-decoration: none;
}
/* media quaery */
@media screen and (max-width: 775px){
    .img{
        display: none;

    }
    .form{
        width: 100%;
    }
}
@media screen and (max-width: 450px){
    .name,.check-name,.option,.icon{
        width: 90%;
    }
    .form h1{
        width: 90%;
    }
    .form p{
        width: 90%;
    }

}