.chatContainer {
    display: flex;
    flex-direction: column;
    width: 440px;
    top: 20px;
    bottom: 20px;
    background-color: #111B21;
    margin-left: 70px;
    border-left: .5px solid #3e4f59;
    border-right: .5px solid #3e4f59;
    position: fixed;
    transition: width 0.5s ease;
}

.chatHeaderContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 10px;
    background-color: #111B21;
    padding: 10px 0;
}

.chatHeaderContainer .chatHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f6f8f7;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;
}

.name h2 {
    margin: 10px;
}

.chatIcons {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;

}

.icon {
    font-size: 20px;
    cursor: pointer;
}

.navigate {
    height: 4px;
    width: 4px;
    background-color: #f6f8f7;
    border-radius: 50%;
    margin: 3px;
}

.chatHeaderContainer .searchbar {
    padding-left: 15px;
    padding-right: 15px;
}

.searchbar .chatSearchbar {
    display: flex;
    align-items: center;
    background-color: #202C33;
    color: #f6f8f7;
    border-radius: 10px;

}

.chatSearchbar .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #135b37;
    padding: 10px;
    cursor: pointer;
}

.chatSearchbar input {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #202C33;
    border-radius: 10px;

}

.chatSearchbar input:focus {
    outline: none;
}

.chatCondition {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
    overflow-x: auto;
}
.chatCondition::-webkit-scrollbar {
    display: none;
}


.chatCondition .condition {
    padding: 5px 10px;
    background-color: #202C33;
    border-radius: 20px;
    color: #8a958f;
    cursor: pointer;

}

.chatCondition .condition:hover {
    background-color: #1e09da;
}

.allPerson {
    overflow-y: auto;
}

.allPerson::-webkit-scrollbar {
    display: none;
}

.chatPerson {
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 5px 10px;
    gap: 10px;
    cursor: pointer;
}

.chatPerson:hover, .activeFriend {
    background-color: #374248;
}

.person {
    display: flex;
    align-items: center;
}

.personImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0f5682;

}

.personImage img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.personName {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    flex-direction: column;
    gap: 5px;
    border-bottom: .5px solid #374248;
}

.personDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.personDetails p {
    margin: 0px;
    color: #8a958f;
}

.personMessage p {
    margin: 0px;
    color: #8a958f;
}

.personDetails h3 {
    margin: 0px;
    color: #f6f8f7;
}

@media (max-width: 1100px) {
    .chatContainer {
        width: 300px;
    }
}