.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 440px;
    gap: 30px;
    top: 20px;
    bottom: 20px;
    background-color: #111B21;
    margin-left: 70px;
    border-left: .5px solid #3e4f59;
    border-right: .5px solid #3e4f59;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

.profileContainer::-webkit-scrollbar {
    display: none;
}

.profileImage {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profileImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.profileImg img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* ICON DEFAULT HIDE */
.profileImgIcon {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/* SHOW ICON ON HOVER */
.profileImg:hover .profileImgIcon {
    display: flex;
}

.profileName {
    color: white;
    margin: 15px;
    align-self: flex-start;
}

.profileName h2 {
    margin: 0;
    padding: 0;
}

.profileDetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
    gap: 20px;
}

.profileUserName {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.profileUserName h5 {
    font-size: medium;
    color: #008069;
    margin: 0;
    padding: 0;
}

.profileUserName h4 {
    font-size: x-large;
    color: white;
    margin: 0;
    padding: 0;
}

.profileUserName p {
    color: white;
}

.profileAbout {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.profileAbout h5 {
    font-size: medium;
    color: #008069;
    margin: 0;
    padding: 0;
}

.profileAbout p {
    color: white;
}

@media (max-width: 1100px) {
    .profileContainer {
        width: 300px;
    }
}
