.statusContainer{
    display: flex;
    flex-direction: column;
    width: 440px;
    gap: 10px;
    top: 20px;
    bottom: 20px;
    background-color: #111B21;
    margin-left: 70px;
    border-left: .5px solid #3e4f59;
    border-right: .5px solid #3e4f59;
    position: fixed;

}

.statusContainer::-webkit-scrollbar {
    display: none;
  }

.statusHeaderContainer{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #111B21;
    padding-bottom: 10px;
}

.statusHeaderContainer .statusHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f6f8f7;
    padding-left: 15px;
    padding-right: 15px;

}

.allPerson {
    overflow-y: auto;
}

.allPerson::-webkit-scrollbar {
    display: none;
}


.personName h3{
    margin: 0px;
    color: #f6f8f7;
}

.statusIcons{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    
}
.icon{
    font-size: 20px;
    cursor: pointer;
}

.navigate{
    height: 4px;
    width: 4px;
    background-color: #f6f8f7;
    border-radius: 50%;
    margin: 3px;
}

.statusContainer .statusPerson{
    display: flex;
    flex-direction: row;
    height: 70px;
    padding : 5px 8px;
    gap: 5px;
    cursor: pointer;
    
}

.statusPerson:hover{
    background-color: #374248;

}

.person{
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.personImage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0f5682;

}

.personImage img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.personName{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    flex-direction: column;
    gap: 5px;
    border-bottom: .01px solid #374248;
}

.personDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.personDetails p{
    margin: 0px;
    color: #8a958f;
}
.personMessage p{
    margin: 0px;
    color: #8a958f;
}

.personDetails h3{
    margin: 0px;
    color: #f6f8f7;
}

@media (max-width: 1100px) {
    .statusContainer {
        width: 300px;
    }
}