.logOutModel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.showModel{
    display: flex;
}

.hideModel{
    display: none;
}

.logoutModel_content{
    width: 300px;
    height: 200px;
    background-color: #181B22;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
    z-index: 10;
    position: absolute;
}

.logoutModel_content h2{
    color: white;
}

.logoutModel_btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logoutModel_btn button{
    width: 100px;
    height: 40px;
    background-color: #181B22;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

