.personContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 552px);
    background-color: #111B21;
    margin-left: 512px;
    margin-right: 10px;
    top: 20px;
    bottom: 20px;
    position: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 552px);
    background-color: #111B21;
    margin-left: 512px;
    margin-right: 10px;
    top: 20px;
    bottom: 20px;
    position: fixed;
}

.container img {
    height: 250px;
    width: 300px;
}

.personNavbar {
    display: grid;
    width: calc(100% - 552px);
    height: 70px;
    background-color: #202C33;
    position: fixed;
}

.personDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.personImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #2A3942;
}

.personImage img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.personName h2 {
    margin: 0px;
    color: #f8f8f8;
}

.personName .status {
    color: #f8f8f8;

}

.multiIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 10px;
}

.video,
.phone,
.more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    cursor: pointer;
    color: antiquewhite;
}

.personSearch {
    display: flex;
    width: calc(100% - 552px);
    height: 60px;
    background-color: #202C33;
    bottom: 20px;
    position: fixed;
}

.personSearchDetails {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.personInputSearch {
    display: flex;
    align-items: center;
    width: 70%;

}

.personInput input {
    width: 100%;
    padding: 10px;
    font-weight: 100;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #f8f8f8;
    font-size: large;
    background-color: #2A3942;
}

.personIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    color: white;
    cursor: pointer;
    font-size: large;
}

.personIcon .personIconM {
    right: 30px;
    position: absolute;

}

.personIcon .personIconShare {
    right: 60px;
    position: absolute;
    cursor: pointer;


}

.personIcon .personIconShare button {
    background-color: #202C33;
    border: none;


}

.personIcon .personIconP {
    left: 30px;
    position: absolute;

}

.personInput {
    width: 100%;
}

/* messages part */
.showMessage {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.messages::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: start;
    max-width: 48%;
    padding: 3px 10px;
    gap: 2px;
    margin: 2px 0;
    border-radius: 5px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;

}

.messageText {
    font-size: medium;
    width: 100%
}

.time {
    display: flex;
    align-self: end;
    text-wrap: nowrap;
}

.messageTime {
    font-size: 10px;
    color: gray;

}

.left {
    align-self: flex-start;
    max-width: 48%;
    background-color: #3f3b3b39;
    color: white;
}

.right {
    align-self: flex-end;
    max-width: 48%;
    background-color: #174c38;
    color: white;
}

@media (max-width: 1300px) {
    .personInputSearch {
        width: 58%;
    }


}

@media (max-width: 1100px) {

    .personContainer,
    .container {
        margin-left: 372px;
        width: calc(100% - 372px);

    }

    .personSearch,
    .personNavbar {
        width: calc(100% - 372px);

    }

.personInputSearch {
    width: 45%;
}

}