name: Build and deploy container app to Azure Web App - webchatapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: mcr.microsoft.com/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_145F78064F4A4B0798385056B1BCA730 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_35FB31D18FF3487191B279667392C8B6 }}

      - name: Build and push container image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile  # Root folder ki Dockerfile use karega
          push: true
          tags: mcr.microsoft.com/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_145F78064F4A4B0798385056B1BCA730 }}/appsvc/staticsite:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_83C8A6E3882743769A60C132828E10FD }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_8E5D9A705557494A9BE991D68B3D4F8F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_AF837FB2E34D4C009B1CB3463692F086 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'webchatapp'
          slot-name: 'Production'
          images: 'mcr.microsoft.com/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_145F78064F4A4B0798385056B1BCA730 }}/appsvc/staticsite:${{ github.sha }}'