name: Build and deploy container app to Azure Web App - webchatapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image locally
        run: |
          docker build -t webchatapp-image:${{ github.sha }} .
          docker save webchatapp-image:${{ github.sha }} > webchatapp-image.tar

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: webchatapp-image.tar

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_83C8A6E3882743769A60C132828E10FD }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_8E5D9A705557494A9BE991D68B3D4F8F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_AF837FB2E34D4C009B1CB3463692F086 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'webchatapp'
          images: 'webchatapp-image:${{ github.sha }}'